.projectListContainer{
    display: flex;
    justify-content: space-evenly;
    scrollbar-width: auto;

}

.projectContainer{
    border: 2px solid #000000;
    padding: 10px;
    background: linear-gradient(90deg, #3B82F6, #60A5FA);
    width:300px;

    border-radius: 10px;
    text-decoration: none;

    transition: 0.2s ease-in-out;
}

.projectContainer:hover{
    transform: scale(1.05);
}

.projectTitleContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.projectDescriptionContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
}

.projectListTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aliceblue;

}